@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-ft-primary-1: #e4eaea;
    --color-ft-primary-2: #afafaf;
    --color-ft-primary-3: #66605a;
    --color-ft-primary-4: #383508;
    --color-ft-primary-5: #141a13;
    --color-ft-telegram: #2AA3DC;
}
* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    cursor: default;
}

button {
    cursor: pointer;
}